In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("data.csv")
df.head()

   Tahun  Mobil Penumpang     Bus    Truk  Sepeda motor    Jumlah  Keterangan
0   2012          2742414  358895  561918      10825973  14489200           1
1   2013          3010403  360223  619027      11949280  15938933           1
2   2014          3266009  362066  673661      13084372  17386108           1
3   2015          3469168  363483  706014      13989590  18528255           1
4   2016          3525925  338730  689561      13310672  17864888           0

In [2]:
# Variabel independen
x = df.drop(["Mobil Penumpang", "Bus", "Truk", "Sepeda motor","Jumlah"], axis = 1)
x.head()
# Variabel dependen
y = df["Keterangan"]
y.head()

0    1
1    1
2    1
3    1
4    0
Name: Keterangan, dtype: int64

In [3]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 123)

In [4]:
from sklearn.naive_bayes import GaussianNB
# Mengaktifkan/memanggil/membuat fungsi klasifikasi Naive Bayes
modelnb = GaussianNB()
# Memasukkan data training pada fungsi klasifikasi Naive Bayes
nbtrain = modelnb.fit(x_train, y_train)

In [5]:
# Menentukan hasil prediksi dari x_test
y_pred = nbtrain.predict(x_test)
y_pred

array([0, 1], dtype=int64)

In [6]:
np.array(y_test)

array([0, 1], dtype=int64)

In [7]:
# Menentukan probabilitas hasil prediksi
nbtrain.predict_proba(x_test)

array([[9.99808419e-01, 1.91581301e-04],
       [0.00000000e+00, 1.00000000e+00]])

In [8]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1, 0],
       [0, 1]], dtype=int64)

In [9]:
# Merapikan hasil confusion matrix
y_actual = pd.Series([0, 1], name = "actual")
y_pred = pd.Series([0, 1], name = "prediction")
df_confusion = pd.crosstab(y_actual, y_pred)

In [10]:
df_confusion

prediction  0  1
actual
0           1  0
1           0  1

In [11]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         1

    accuracy                           1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2